.mainC{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 1000px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.518);
  margin-top: 50px;
  padding: 20px;
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  border-radius: 10px;
  background-color:  rgba(0, 131, 245, 0.351);
  margin-top: 0px;
  padding: 20px;
}

.botones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  width:80%;
  border-radius: 10px;
  background-color:transparent;
  margin-top: 10px;
  padding: 100px;
  gap: 10%;

}

.botn {
  display: flex;
  justify-content: center;
  align-items: center;
  width:250px;
  height:250px;
  color: aliceblue;
  background-color: rgb(22, 59, 205);
  border-radius: 50px;
  font-size: 200%;
  font-weight: 700;
  cursor: pointer;
  border: none; 
  margin: 10px;
  box-shadow: 5px 5px 10px #010c5665;
}

.botn:hover {
    background-color: #f200ff;
    color: white;
    transform: scale(1.02);
}

.botn:active {
    transform: scale(0.98);
}
