.divES{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color:  rgba(0, 0, 0, 0.674);
    border-radius:  10px;
    height: 650px;
    align-items: center;
    justify-content: center;
}

.formES{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.674);
    padding: 30px;
    border-radius: 15px;
    margin-top: 0%;
    align-items: center;
}   
.formES input{
    color: aliceblue;
    background-color: transparent;
    border: none;
    padding: 2%;
    font-size: 100%;
    align-items: center;
}
.formES button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:220px;
    height:60px;
    color: aliceblue;
    background-color: rgb(22, 59, 205);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: none; 
}
.formES button:active{
    background-color: rgb(255, 0, 234);
    box-shadow: 2px 2px 5px #22232a;
}